$header-height: 3.5rem;

.Layout {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: $header-height auto 8rem;
    grid-template-areas: "header header header header" 
                         "side main main main"
                         "footer footer footer footer";
}

.Header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $header-height;
    background: green;
}

.Sidebar {
    background: blue;
    grid-area: side;
}

.Main {
    background: red;
    grid-area: main;
}

.Footer {
    background: purple;
    grid-area: footer;
}