@import '../../../../style/shared.scss';

.FooterItems {
    @extend %no-padding-no-margin,
            %no-list;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.FooterLink {
    margin: 0.5rem 0;
}

.FooterLink > a {
    text-decoration: none;
    color: var(--color-off-white);
}

@media (min-width: 40rem) {
    .FooterItems {
        flex-direction: row;
        justify-content: center;
    }

    .FooterLink {
        margin: 0 1rem;
    }
}