@import "../style/shared.scss";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body, #root {
    @extend %full-height;
}

:root {
    --color-slate-gray: #778899;
    --color-dark-gray: #39424B;
    --color-off-white: #faebd7;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
